out/
.vs/
.vscode/
.gitignore
.gitmodules
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
CMakeSettings.json
libglad.a
Makefile
cmake-build-debug/
build/
CMakeFiles/
3rdParty/
Project/CMakeFiles/
Project/CMakeLists.txt
Project/cmake_install.cmake
Project/Makefile
Project/project_main
vcpkg_installed/